<template>
  <div id="app">
    <button @click="search()" :disabled="this.loading">Search</button>
    <button @click="create()">Create</button>
    <p v-if="this.loading">Loading...</p>
    <p>Query ID: {{ this.queryId }}</p>
    <p>Query Status: {{ this.status }}</p>
  </div>
</template>

<script>
import { API, graphqlOperation } from "aws-amplify";
import { ALL_PRODUCT_FILES, SUBSCRIPTION_CREATE_FILE, MUTATION_CREATE_FILE } from '@/services/graphql/product_files'
export default {
  name: 'Home',
  methods: {
    search: async function() {
      this.loading = true;
      // 1. Submit search query
      const { data: { getProductsCatalogFiles } } = await API.graphql(
        graphqlOperation(
          ALL_PRODUCT_FILES,
          {
            sellerId: '0100376895',
            page: 1
          }
        )
      );
      this.loading = false;
      this.queryId = getProductsCatalogFiles.id;
    },
    create: function(){

      // 2. Subscribe to search result
      const subscription = API.graphql(
          graphqlOperation(SUBSCRIPTION_CREATE_FILE, { sellerId: '0100376895' })
        ).subscribe({
          next: ({ value: { data: { createdProductCatalogFiles }}}) => {
            this.loading = false;
            // Stop receiving data updates from the subscription
            this.status = createdProductCatalogFiles.status;
            this.listings = createdProductCatalogFiles.listings;
            subscription.unsubscribe();
          }
        });
    },
  },
  data: function() {
    return {
      loading: false,
      queryId: null,
      status: ""
    }
  },
}
</script>
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
